<div class="custom-form">
    <div class="form-container" id="formContainer">
        <!-- Form Header -->
        <div class="form-header fh-1">
            Add Company
            <button class="close-btn">×</button>
        </div>
        <!-- Form Body -->
        <div class="form-body">
            <label for="name">Company Name</label>
            <input type="text" id="name" placeholder="Enter your name">
            <label for="email">Company Domain</label>
            <input type="email" id="email" placeholder="Enter your email">
            <label for="cars">Choose a car:</label>

            <select name="cars" id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>


            <label for="cars">Choose a Checkbox:</label>
            <div class="fh-check mb-2">
                <div class="fh-checkbox">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </div>
                <div class="fh-checkbox">
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                    <label for="vehicle2"> I have a car</label><br>
                </div>
                <div class="fh-checkbox">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </div>
                <div class="fh-checkbox">
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                    <label for="vehicle2"> I have a car</label><br>
                </div>
                <div class="fh-checkbox">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </div>
                <div class="fh-checkbox">
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                    <label for="vehicle2"> I have a car</label><br>
                </div>
            </div>

            <label for="cars">Choose a Radio:</label>
            <div class="fh-radio">
                <div class="fh-radiobox">
                    <input type="radio" id="html" name="fav_language" value="HTML">
                    <label for="html">HTML</label><br>
                </div>
                <div class="fh-radiobox">
                    <input type="radio" id="html" name="fav_language" value="CSS">
                    <label for="css">CSS</label><br>
                </div>
                <div class="fh-radiobox">
                    <input type="radio" id="html" name="fav_language" value="HTML">
                    <label for="html">HTML</label><br>
                </div>
                <div class="fh-radiobox">
                    <input type="radio" id="html" name="fav_language" value="CSS">
                    <label for="css">CSS</label><br>
                </div>
                <div class="fh-radiobox">
                    <input type="radio" id="html" name="fav_language" value="HTML">
                    <label for="html">HTML</label><br>
                </div>
                <div class="fh-radiobox">
                    <input type="radio" id="html" name="fav_language" value="CSS">
                    <label for="css">CSS</label><br>
                </div>
            </div>

            <label for="name">Company Name</label>
            <input type="text" id="name" placeholder="Enter your name">
            <label for="email">Company Domain</label>
            <input type="email" id="email" placeholder="Enter your email">
            <label for="cars">Choose a car:</label>

            <label for="name">Company Name</label>
            <input type="text" id="name" placeholder="Enter your name">
            <label for="email">Company Domain</label>
            <input type="email" id="email" placeholder="Enter your email">
            <label for="cars">Choose a car:</label>

        </div>

        <div class="form-button">
            <button type="submit" class="btn-primary">Save</button>
            <button type="button" class="btn-secondary close-btn">Cancel</button>
        </div>
    </div>
</div>
